{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>sign in</title>
        <link rel="stylesheet" href="{% static 'sign.css' %}">
    </head>
    <body>
        <div class="title">Sing In</div>

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% render_field form.username placeholder="username" %}
            {% render_field form.password placeholder="password" %}
            <button class="submit_btn" type="submit">submit</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        <div class="sign_up_link">have not acount ? <a href="./sign-up.html">sign up</a></div>
    </body>
</html>