<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>sign in</title>
        <link rel="stylesheet" href="sign.css">
    </head>
    <body>
        <div class="title">Sign Up</div>

        <form>
            <input type="text" placeholder="user name" />
            <input type="password" placeholder="password" />
            <input type="password" placeholder="repeat password" />
            <button class="submit_btn" type="submit">submit</button>
        </form>

        <div class="sign_up_link">have acount ? <a href="./sign-in.html">sign in</a></div>
    </body>
</html>