{% load static %}
{% load friends %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Messenger</title>
        <link rel="stylesheet" href="{% static 'home.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/all.min.css' %}" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="messenger">
            <div class="headers">
                <div class="header friends_list_header">
                    <a href="{% url 'logout' %}"><div class="log_out_btn">log out</div></a>
                    <div class="icons">
                        <span class="my_username">{{ request.user.username }}</span>
                        <img src="{{ request.user.profile_image.url }}" class="my_profile">
                    </div>
                </div>
                <div class="header chat_page_header">
                    {% comment %} <div class="user_box">
                        <div class="user_img"></div>
                        <div class="user_name">Masocher</div>
                    </div>

                    <div class="icons">
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis"></i>
                    </div> {% endcomment %}
                </div>
            </div>
            
            <div class="pages">
                <div class="friends_list">
                    <div class="friends_search_box">
                        <div class="friends_search_box_container">
                            <form class="friend_input_box">
                                <input class="friends_search_input" placeholder="Enter User to Add friends ..." >
                                <button type="submit" class="add_friend"><i class="fa-solid fa-plus" style="color: rgb(9, 118, 253);"></i></button>
                            </form>
                            <i class="fa-solid fa-fas fa-user-friends"></i>
                        </div>

                        <div class="icons">
                            <i class="fa-solid fa-ellipsis"></i>
                        </div>
                    </div>

                    <i class="fa-solid fa-gear"></i>

                    <div class="friends">
                        {% for chat in chats %}
                        <div class="friend" id="{{ chat.id }}">
                            <div class="friend_info">
                                <img src="{{ chat|target_image:request.user }}" class="friend_img"></img>
                                <div class="friend_box">
                                    <a href="{% url 'chat:room' chat.slug %}" style="color: #9c9c9c;" class="friend_name">{{ chat|target_user:request.user }}</a>
                                    <div class="last_message">{{ chat|last_message }}</div>
                                </div>
                            </div>
                            <div class="last_chat_date">{{ chat.start_date }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="chat_page" style="height: calc(100% - 1px);" align="center">

                    <i class="fa fa-fas fa-comments" style="font-size: 80px; margin-top: 10rem;"></i>
                    <h2 style="color: #ccc;">Select A conversation to Start messaging</h2>

                    {% comment %} <div class="messages">
                        <div class="message_box">
                            <div class="message friend_message">Hey body ! Whats up ?</div>
                            <span class="message_date">1/1/2022</span>
                        </div>

                        <div class="message_box user_message_box">
                            <div class="message user_message">Where the fucking hell are you ?<br />where are you bro</div>
                            <span class="message_date">1/1/2022</span>
                            <i class="fa-solid fa-check check_icon"></i>
                        </div>

                        <div class="message_box">
                            <div class="message friend_message">Where the fucking hell are you ?</div>
                            <span class="message_date">1/1/2022</span>
                        </div>

                        <div class="message_box">
                            <div class="message friend_message">Where the fucking hell are youuuuuuuuuuuuuuu ?</div>
                            <span class="message_date">1/1/2022</span>
                        </div>

                        <div class="message_box user_message_box">
                            <div class="message user_message">Where the fucking hell are you ?</div>
                            <span class="message_date">1/1/2022</span>
                            <i class="fa-solid fa-check check_icon"></i>
                        </div>

                        <div class="message_box">
                            <div class="message friend_message">dadashami</div>
                            <span class="message_date">1/1/2022</span>
                        </div>

                        <div class="message_box">
                            <div class="message friend_message">Hey body ! Whats up ?</div>
                            <span class="message_date">1/1/2022</span>
                        </div>

                        <div class="message_box user_message_box">
                            <div class="message user_message">Where the fucking hell are you ?</div>
                            <span class="message_date">1/1/2022</span>
                            <i class="fa-solid fa-check check_icon"></i>
                        </div>

                        <div class="message_box user_message_box">
                            <div class="message user_message">Where the fucking hell are you ?</div>
                            <span class="message_date">1/1/2022</span>
                            <i class="fa-solid fa-check check_icon"></i>
                        </div>

                        <div class="message_box">
                            <div class="message friend_message">Where the fucking hell are you ?</div>
                            <span class="message_date">1/1/2022</span>
                        </div>

                        <div class="message_box">
                            <div class="message friend_message">Where the fucking hell are youuuuuuuuuuuuuuu ?</div>
                            <span class="message_date">1/1/2022</span>
                        </div>

                        <div class="message_box user_message_box">
                            <div class="message user_message">Where the fucking hell are you ?</div>
                            <span class="message_date">1/1/2022</span>
                            <i class="fa-solid fa-check check_icon"></i>
                        </div>

                        <div class="message_box user_message_box">
                            <div class="message user_message">dadashamiii</div>
                            <span class="message_date">1/1/2022</span>
                            <i class="fa-solid fa-check check_icon"></i>
                        </div>

                        <div class="message_box">
                            <div class="message friend_message">dadashami</div>
                            <span class="message_date">1/1/2022</span>
                        </div>

                    </div> {% endcomment %}
                </div>

                {% comment %} <div class="search_box">
                    <div class="emojis"><i class="fa-sharp fa-solid fa-face-laugh"></i></div>
                    <form class="input_box">
                        <input class="search_input" placeholder="Type a message">
                    </form>
                    <i class="fa-sharp fa-solid fa-paper-plane-top"></i>
                </div> {% endcomment %}
            </div>
        </div>

        {% comment %} <script>
            let friends_box = document.querySelector('.friends')

            let friends = [
                { id: 1, name: 'Ebo - 1', last_message: 'Hey body ! Whats up ?', last_message_date: '1/1/2022', class: 'friend' },
                { id: 2, name: 'Ebo - 2', last_message: 'Hey body ! Whats up ?', last_message_date: '1/1/2022', class: 'friend' },
                { id: 3, name: 'Ebo - 3', last_message: 'Hey body ! Whats up ?', last_message_date: '1/1/2022', class: 'friend' },
                { id: 4, name: 'Ebo - 4', last_message: 'Hey body ! Whats up ?', last_message_date: '1/1/2022', class: 'friend' },
                { id: 5, name: 'Ebo - 5', last_message: 'Hey body ! Whats up ?', last_message_date: '1/1/2022', class: 'friend' },
                { id: 6, name: 'Ebo - 6', last_message: 'Hey body ! Whats up ?', last_message_date: '1/1/2022', class: 'friend' },
                { id: 7, name: 'Ebo - 7', last_message: 'Hey body ! Whats up ?', last_message_date: '1/1/2022', class: 'friend' },
                { id: 8, name: 'Ebo - 8', last_message: 'Hey body ! Whats up ?', last_message_date: '1/1/2022', class: 'friend' },
                { id: 9, name: 'Ebo - 9', last_message: 'Hey body ! Whats up ?', last_message_date: '1/1/2022', class: 'friend' },
            ]

            let friendsLooper = () => {
                friends.forEach(friend => 
                    friends_box.innerHTML += `
                        <div class="${ friend.class }" id="${ friend.id }">
                            <div class="friend_info">
                                <div class="friend_img"></div>
                                <div class="friend_box">
                                    <div class="friend_name">${ friend.name }</div>
                                    <div class="last_message">${ friend.last_message }</div>
                                </div>
                            </div>
                            <div class="last_chat_date">${ friend.last_message_date }</div>
                        </div>
                    `
                )
            }
            
            friendsLooper()
        </script> {% endcomment %}
    </body>
</html>