<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <div id="messages">
        {% for message in chat.messages.all %}
            <div {% if message.sender == request.user %} align="right" style="background: lightblue ;{% else %} align="left" style="background: orange ; {% endif %}"> {{ message.content }} <br> <span align="left" style="font-size: 0.5rem;">{{ message.sender }}</span> -- <span align="right" style="font-size: 0.5rem;">{{ message.send_date }}</span> </div>
        {% endfor %}
    </div>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        let user = "{{ request.user.username }}"
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const addMessage = (message, sender, date) => {
            let text = `
                <div align="right" style="background: lightblue ;"> ${message} <br> <span align="left" style="font-size: 0.5rem;">${sender}</span> -- <span align="right" style="font-size: 0.5rem;">${date}</span> </div>
            `
            document.querySelector('#messages').innerHTML += text
        }
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            addMessage(data.message, data.sender, data.date)
            
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>